{% extends "base.html" %}

{% block title %}Krukarz{% endblock %}

{% block content %}

<div style="overflow-x:auto;" class="container">
  <h3>Krukarz</h3>

  <button type="button" onclick="window.location.href='{{ back_url }}'">Wróć do listy postaci</button>
  <button type="button" onclick="window.location.href='/lobby'">Wróć do gry</button>

  <table>
    <tr><td style="text-align: center;">
      <img style="width: 40%; height: auto;" src="{{ url_for('static', filename='images/krukarz.png') }}">
    </td></tr>
    <tr>
      <td>
        Jeśli umrzesz w nocy, zostajesz obudzony, aby wybrać gracza: poznajesz jego postać.
        Jeśli Krukarz umrze w nocy, może poznać postać jednego z graczy.

        <ul>
          <li>Krukarz jest budzony tej samej nocy, w której umiera, i od razu wybiera gracza.</li>
          <li>Krukarz może wybrać martwego gracza, jeśli chce.</li>
        </ul>
      </td>
    </tr>
  </table>

  <blockquote>Krukarz zostaje zabity przez Impa, a następnie budzi się, aby wybrać gracza. Po krótkim namyśle wybiera Benjamina. Benjamin jest Empatą i Krukarz się o tym dowiaduje.</blockquote>

  <blockquote>Imp atakuje Burmistrza. Burmistrz nie umiera, ale zamiast niego ginie Krukarz, z powodu zdolności Burmistrza. Krukarz zostaje obudzony i wybiera Douglasa, który jest martwym Samotnikiem. Krukarz dowiaduje się, że Douglas jest Skarlet, ponieważ Samotnik został potraktowany jak Minion.</blockquote>

</div>

{% endblock %}
