{% extends "base.html" %}

{% block title %}Mnich{% endblock %}

{% block content %}

<div style="overflow-x:auto;" class="container">
  <h3>Mnich</h3>

  <button type="button" onclick="window.location.href='{{ back_url }}'">Wróć do listy postaci</button>
  <button type="button" onclick="window.location.href='/lobby'">Wróć do gry</button>

  <table>
    <tr><td style="text-align: center;">
      <img style="width: 40%; height: auto;" src="{{ url_for('static', filename='images/mnich.png') }}">
    </td></tr>
    <tr>
      <td>
        Każdej nocy, wybierz gracza (nie siebie): tej nocy będzie bezpieczny przed Demonem. Mnich chroni innych graczy przed Demonem.

        <ul>
          <li>Każdej nocy oprócz pierwszej Mnich może wybrać dowolnego gracza poza sobą, aby go chronić.</li>
          <li>Jeśli Demon zaatakuje gracza chronionego przez Mnicha, wtedy ten gracz nie umiera. Demon nie wykonuje ponownego ataku — po prostu tej nocy nikt nie ginie.</li>
          <li>Mnich nie chroni przed nominacją i egzekucją dokonaną w ciągu dnia przez Demona.</li>
        </ul>
      </td>
    </tr>
  </table>

  <blockquote>Mnich chroni Wróżbitę. Imp atakuje Wróżbitę. Tej nocy nikt nie umiera.</blockquote>

  <blockquote>Mnich chroni Burmistrza, a Imp atakuje Burmistrza. Zdolność „umiera inny gracz” należąca do Burmistrza nie aktywuje się, ponieważ Burmistrz jest chroniony przed Imp. Tej nocy nikt nie umiera.</blockquote>

  <blockquote>Mnich chroni Imp. Imp wybiera tej nocy zabicie samego siebie, ale nic się nie dzieje. Imp pozostaje przy życiu i nowy Imp nie zostaje utworzony.</blockquote>

</div>

{% endblock %}
