{% extends "player_page_night.html" %}

{% block title %}{{ super() }} - Imp{% endblock %}

{% block content %}

<div class="container" style="overflow-x:auto;">

  <table id="playerRoleTable" cellspacing="0" cellpadding="8">
    <tr>
      <td>
        Postacie których nie ma w grze:
      </td>
      <td class="player-status-text">{{ character_data.imp_extra_chars }}</td>
    </tr>
    <tr>
      <td>
        Lista Minionów:
      </td>
      <td class="player-status-text">{{ character_data.imp_minions }}</td>
    </tr>
    <tr>
      <td colspan="2">
        {% if character_data.allow_imp_night_action == True %}

          {% set id = "vote_imp" %}
          {% set title = "Wybierz gracza, którego chcesz wyeliminować:" %}
          {% set options = character_data.player_list %}
          {% set max_selections = 1 %}
          {% set endpoint = "/night_selection" %}

          {% include "components/choice_selector.html" %}
        {% else %}
          <p style="text-align: center;">{{ character_data.imp_status }}</p>
        {% endif %}

      </td>
    </tr>
    {% if character_data.allow_imp_night_action == False %}
      {% include "components/confirm_action.html" %}
    {% endif %}

  </table>

</div></br>

{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}
