{% extends "base.html" %}

{% block title %}Imp{% endblock %}

{% block content %}

<div style="overflow-x:auto;" class="container">
  <h3>Imp</h3>

  <button type="button" onclick="window.location.href='{{ back_url }}'">Wróć do listy postaci</button>
  <button type="button" onclick="window.location.href='/lobby'">Wróć do gry</button>

  <table>
    <tr><td style="text-align: center;">
      <img style="width: 40%; height: auto;" src="{{ url_for('static', filename='images/imp.png') }}">
    </td></tr>
    <tr>
      <td>
        Każdej nocy, wybierz gracza: ten gracz umiera. Jeśli w ten sposób zabijesz samego siebie, jeden z Minionów staje się Impem.

        Imp zabija jednego gracza każdej nocy i może „stworzyć kopię samego siebie”… za straszną cenę.

        <ul>
          <li>Każdej nocy, z wyjątkiem pierwszej, Imp wybiera gracza do zabicia.
            Ponieważ większość postaci działa po Demonach, ta osoba zazwyczaj nie zdąży już użyć swojej zdolności tej nocy.</li>
          <li>Imp, jako Demon, wie, którzy gracze są jego Minionami, oraz zna trzy dobre postacie, których nie ma w grze i pod które może się bezpiecznie podszywać.</li>
          <li>Jeśli Imp zginie, gra się kończy i wygrywa dobro.
            Jednak jeśli Imp zabije samego siebie w nocy, umiera, a jeden żyjący Minion staje się nowym Impem.
            Ten nowy Imp nie działa tej samej nocy, ale od tego momentu jest Impem pod każdym względem — zabija każdej nocy i przegrywa, jeśli zginie.</li>
        </ul>
      </td>
    </tr>
  </table>

  <blockquote>Jest pierwsza noc. Imp dowiaduje się, że Evin i Sarah są Minionami. Imp dowiaduje się także, że Mnich (Monk), Kucharz (Chef) i Bibliotekarz (Librarian) nie są w grze. Imp udaje Kucharza, a w połowie gry zaczyna udawać Burmistrza (Mayor). Ostatecznie Imp zostaje stracony i wygrywa dobro.</blockquote>

  <blockquote>W nocy Imp budzi się i wybiera gracza, który umiera. Następnej nocy Imp wybiera samego siebie na śmierć. Imp umiera, a Truciciel (Poisoner) staje się nowym Impem.</blockquote>
</div>

{% endblock %}
