{% extends "base_polling.html" %}

{% block title %}Oczekiwanie na start{% endblock %}

{% block content %}

<div class="container">
  <h3>Oczekiwanie na rozpoczęcie gry!</h3>

  <div style="overflow-x:auto;">
    <p id="errorMsg" style="color: red; font-weight: bold;"></p>

    <table>
      <tr>
        <td>Aktualna liczba graczy:</td>
        <td><p id="no_of_player" style="text-align: center;">{{no_of_players}}</p></td>
      </tr>
      <tr>
        <td>Twoje imię:</td>
        <td><p id="player_name" style="text-align: center;">{{player_name}}</p></td>
      </tr>
      <tr>
        <td>Twoje miejsce:</td>
        <td><p id="player_seat" style="text-align: center;">{{player_seat}}</p></td>
      </tr>
      {% if is_admin %}
      <tr>
        <td>Moderator gry:</td>
        <td><p style="text-align: center;">TAK</p></td>
      </tr>
      {% endif %}
      <tr>
        <td colspan="2" style="text-align: center;">
          <button onclick="window.location.href='/leave_game'">Opuść grę</button>
          <button onclick="window.location.href='/wiki'">Zobacz listę postaci</button>
          {% if is_admin %}
          <button onclick="window.location.href='/start_game'">Rozpocznij grę</button>
          {% endif %}
        </td>
      </tr>
    </table>

    <blockquote>
      „Chmury napływają nad Ravenswood Bluff, spowijając to senne miasteczko i
      jego przesądnych mieszkańców złowrogim cieniem. Świeżo uprane ubrania tańczą
      niesamowicie na sznurach rozwieszonych między chatami. Kominy wyrzucają w
      powietrze kłęby dymu. Egzotyczne zapachy unoszą się przez szczeliny w oknach
      i pod drzwiami, gdy ukryte kotły bulgoczą w ukryciu. Niezwykle ciepły jesienny
      wiatr oplata ściany porośnięte winoroślą i złowieszczo szepcze do tych,
      którzy odważą się przejść brukowanymi uliczkami.
    </br></br>
      Zaniepokojone matki wołają dzieci do domu, gdy na horyzoncie zaczynają
      rozbrzmiewać grzmoty. Jeśli jednak wsłuchać się uważniej, można usłyszeć
      jeszcze dziwniejsze dźwięki dobiegające z sąsiedniego lasu. Pod czujnym okiem
      górującego nad okolicą klasztoru, sylwetki przemykają od drzwi do drzwi.
      Ci, którzy potrafią czytać znaki, wiedzą, że nadchodzi… Trouble Brewing.”
    </blockquote>
  </div>

{% endblock %}

{% block scripts %}
  {{ super() }}

  <script>

  window.onStatusUpdate = function(data) {
    document.getElementById("no_of_player").innerText = data.no_of_players;
  };

  </script>
{% endblock %}
