{% extends "base.html" %}

{% block title %}Blood on the clocktower – Strona główna{% endblock %}

{% block content %}
  

  <div class="container">
    <h3>Panel administratora gry!</h3>

    <div style="overflow-x:auto;">
      <p id="errorMsg" style="color: red; font-weight: bold;"></p>
      <table>
        <tr>
          <td>Aktualna liczba graczy:</td>
          <td ><p id="liczba_graczy" style="text-align: center;">{{liczba_graczy}}</p></td>
        </tr>
        <tr>
          <td>Postacie wylosowane:</td>
          <td ><p id="postacie_wylosowane" style="text-align: center;">{{postacie_wylosowane}}</p></td>
        </tr>
        <tr>
          <td>Aktualny tryb:</td>
          <td><p id="aktualny_tryb" style="text-align: center;">{{ "Dzień" if current_mode == "day" else "Noc" }}</p></td>
        </tr>
        <tr>
          <td colspan="2" onclick="showCharacters()" style="text-align: center;">Losuj postacie</td>
        </tr>
        <tr>
          <td colspan="2" onclick="setGameMode('day')" style="text-align: center;">Włącz tryb dzień</td>
        </tr>
        <tr>
          <td colspan="2" onclick="setGameMode('night')" style="text-align: center;">Włącz tryb noc</td>
        </tr>
      </table>
    </div>

    <!-- <blockquote>„Księgi są zwierciadłami duszy – im spokojniej je czytasz, tym więcej widzisz.”</blockquote> -->
  </div>

  <script>
    socket.on("update_game_status", data => {
      document.getElementById("liczba_graczy").textContent = data.no_of_players;
      document.getElementById("postacie_wylosowane").textContent = data.char_presented
      if (data.mode === "day" || data.mode === "night") {
        document.getElementById("aktualny_tryb").textContent = data.mode === "day" ? "Dzień" : "Noc";
      }
    });

    async function createGame() {
      const errorMsg = document.getElementById("errorMsg");
      errorMsg.textContent = "";

      try {
        const response = await fetch("/create", {
          method: "POST",
          headers: { "Content-Type": "application/x-www-form-urlencoded" },
          body: new URLSearchParams({event: "create"})
        });

        if (!response.ok) {
          const res = await response.json();
          errorMsg.textContent = res.error || "Nie udało się utworzyć pokoju.";
          return;
        }

        if (response.redirected) {
          window.location.href = response.url;
        }
      } catch (err) {
        console.error(err);
        errorMsg.textContent = "Błąd połączenia z serwerem.";
      }
    }

    async function showCharacters() {
      const errorMsg = document.getElementById("errorMsg");
      errorMsg.textContent = "";
      const data = { event: "show" };

      try {
        const response = await fetch("/create", {
          method: "POST",
          headers: { "Content-Type": "application/x-www-form-urlencoded" },
          body: new URLSearchParams(data)
        });

        if (!response.ok) {
          const res = await response.json();
          errorMsg.textContent = res.error || "Nie udało się rozdzielić postaci.";
          return;
        }
      } catch (err) {
        console.error(err);
        errorMsg.textContent = "Błąd połączenia z serwerem.";
      }
    }

    async function setGameMode(mode) {
      const errorMsg = document.getElementById("errorMsg");
      errorMsg.textContent = "";

      try {
        const response = await fetch("/game-mode", {
          method: "POST",
          headers: { "Content-Type": "application/x-www-form-urlencoded" },
          body: new URLSearchParams({ mode })
        });

        if (!response.ok) {
          const res = await response.json();
          errorMsg.textContent = res.error || "Nie udało się zmienić trybu gry.";
          return;
        }
      } catch (err) {
        console.error(err);
        errorMsg.textContent = "Błąd połączenia z serwerem.";
      }
    }
  </script>
{% endblock %}