{% extends "base_polling.html" %}

{% block title %}Tryb Dnia{% endblock %}

{% block content %}

{% if vote_submitted != True %}

<div class="container" style="overflow-x:auto;">
  {% set id = "vote_for_nominee" %}
  {% set title = "Głosuj aby wyeliminować gracza: " ~ nominated_player_name %}
  {% set options = (("Głosuję za", true), ("Wstrzymuję się od głosu", false)) %}
  {% set max_selections = 1 %}
  {% set endpoint = "/vote_execute" %}

  <div
    id="vote_for_nominee_container"
    data-player-client-id="{{ player_client_id }}"
    {% if active_voting_player_client_id != player_client_id %}hidden{% endif %}
  >
    {% include "components/choice_selector.html" %}
  </div>
  <p
    id="vote_ongoing"
    {% if active_voting_player_client_id == player_client_id %}hidden{% endif %}
  >Trwa głosowanie, poczekaj na swój ruch ...</p>
</div></br>

<div class="container" style="overflow-x:auto;">
  <h3 style="text-align: center; margin-top: 0;">
    Aktualny status głosowania:
  </h3>
  <table>
    <thead>
      <tr>
        <th>Gracz</th>
        <th>Status głosowania</th>
      </tr>
    </thead>
    <tbody>
      {% for player in player_vote_status %}
        <tr>
          <td>{{ player.name }}</td>
          <td>{{ player.vote_status }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% else %}
  <p style="text-align: center; font-size: 1.2em;">Twój głos został zapisany.</p>
{% endif %}
{% endblock %}

{% block scripts %}
  {{ super() }}

  <script>
  function updateVotingFormVisibility(activeVotingPlayerClientId) {
    const votingFormContainer = document.getElementById("vote_for_nominee_container");
    if (!votingFormContainer) {
      return;
    }

    const waitingMessage = document.getElementById("vote_ongoing");

    const playerClientId = votingFormContainer.dataset.playerClientId;
    const activeId = (activeVotingPlayerClientId || "").trim();
    const playerId = (playerClientId || "").trim();
    const isCurrentPlayersTurn = activeId === playerId;

    votingFormContainer.hidden = !isCurrentPlayersTurn;

    if (waitingMessage) {
      waitingMessage.hidden = isCurrentPlayersTurn;
    }
  }

  function updateVotingStatus(playerVoteStatus) {
    const rows = document.querySelectorAll("table tbody tr");
    rows.forEach(row => {
      const playerName = row.querySelector("td:first-child").textContent.trim();
      const statusCell = row.querySelector("td:last-child");

      const playerStatus = playerVoteStatus.find(p => p.name === playerName);
      if (playerStatus) {
        statusCell.textContent = playerStatus.vote_status;
      }
    });
  }

  window.onStatusUpdate = function(data) {
    const activeVotingPlayerClientId = data.active_voting_player_client_id;
    const playersVoteStatus = data.player_vote_status || [];

    updateVotingFormVisibility(activeVotingPlayerClientId);
    updateVotingStatus(playersVoteStatus);
  };

  </script>
{% endblock %}
