<tr>
  <td>Imię gracza:</td>
  <td>{{ player_name }}</td>
</tr>
<tr>
  <td>Miejsce:</td>
  <td>{{ player_seat }}</td>
</tr>
<tr>
  <td>Status gracza:</td>
  <td>{{ "Żywy" if is_alive else "Martwy" }}</td>
</tr>
<tr>
  <td>Stan gry:</td>
  <td>{{ game_state_description }}</td>
</tr>
{% if game_state == "night_all_players_action" %}
  <tr>
    <td>
      Akcja potwierdzona:
    </td>
    <td class="player-status-text">{{ "-" if player_confirmed_action is none else "Tak" if player_confirmed_action else "trwa ..." }}</td>
  </tr>
{% endif %}
{% if show_player_status %}
<tr>
  {% set id = "players_status" %}
  {% set title = "Status graczy:" %}
  {% set options = player_status_list %}
  {% set active_label = "Żywi gracze" %}
  <td colspan="2" style="text-align: center;">{% include "components/status_display.html" %}</td>
</tr>
{% endif %}
<tr>
  <td colspan="2" style="text-align: center;">
    <button onclick="window.location.href='/wiki'">Zobacz listę postaci</button>
  </td>
</tr>
