{% extends "base.html" %}

{% block title %}Tęczowa Mafia – Empata{% endblock %}

{% block content %}

<div style="overflow-x:auto;" class="container">
  <h3>Empata</h3>

  <button type="button" onclick="window.location.href='{{ back_url }}'">Wróć do poprzedniego okna</button>
  
  <table>
    <tr><td style="text-align: center;">
      <img style="width: 40%; height: auto;" src="{{ url_for('static', filename='images/empata.png') }}">
    </td></tr>
    <tr>
      <td>
        Każdej nocy Empata dowiaduje się, ilu z jego dwóch żyjących sąsiadów jest złych.  
        Empata uczy się, czy sąsiadujący z nim gracze są dobrzy czy źli.

        <ul>
          <li>Empata dowiaduje się tylko, ilu sąsiadów jest złych, a nie który konkretnie.</li>
          <li>Empata nie wykrywa martwych graczy. Jeśli siedzi obok martwego gracza, informacje dotyczą najbliższego żyjącego gracza w tym kierunku.</li>
          <li>Empata działa po Demonach, więc jeśli Demon zabije któregoś z żyjących sąsiadów Empaty, nie otrzyma informacji o teraz martwym graczu.</li>
          <li>Informacje Empaty są dokładne o świcie, a nie o zmierzchu.</li>
        </ul>
      </td>
    </tr>
  </table>

  <blockquote>Empata ma po sąsiedzku dwóch dobrych graczy – Żołnierza i Mnicha. Empata dowiaduje się '0'.</blockquote>

  <blockquote>Następnego dnia Żołnierz zostaje stracony. Tej nocy Mnich zostaje zabity przez Demona. Empata teraz wykrywa graczy siedzących obok Żołnierza i Mnicha, którymi są Bibliotekarka i zły Strzelec. Empata dowiaduje się '1'.</blockquote>

  <blockquote>Pozostają tylko trzy żywe postacie: Empata, Demon i Baron. Niezależnie od ustawienia, Empata dowiaduje się '2'.</blockquote>

</div>

{% endblock %}
