{% extends "base.html" %}

{% block title %}Tęczowa Mafia – Kucharz{% endblock %}

{% block content %}

<div style="overflow-x:auto;" class="container">
  <h3>Kucharz</h3>

  <button type="button" onclick="window.location.href='{{ back_url }}'">Wróć do poprzedniego okna</button>
  
  <table>
    <tr><td style="text-align: center;">
      <img style="width: 40%; height: auto;" src="{{ url_for('static', filename='images/kucharz.png') }}">
    </td></tr>
    <tr>
      <td>
        Na początku wiesz, ile par złych graczy siedzi obok siebie.  
        Kucharz wie, czy źli gracze siedzą obok siebie.

        <ul>
          <li>Podczas pierwszej nocy Kucharz dowiaduje się dokładnie, ile par złych graczy jest w sumie. Para to dwóch graczy, ale jeden gracz może należeć do dwóch par.</li>
          <li>Dwie osoby siedzące obok siebie to jedna para. Trzy osoby obok siebie to dwie pary. Cztery osoby obok siebie to trzy pary itd.</li>
          <li>Kucharz wykrywa złych Podróżników tak samo jak inne typy postaci, ale tylko jeśli dołączyli do gry zanim Kucharz wykona swoją akcję.</li>
        </ul>
      </td>
    </tr>
  </table>

  <blockquote>Żadni źli gracze nie siedzą obok siebie. Kucharz dowiaduje się '0'.</blockquote>

  <blockquote>Demon siedzi obok Barona. Naprzeciwko, Truciciel siedzi obok Krwawej Kobiety. Kucharz dowiaduje się '2'.</blockquote>

  <blockquote>Zły Kozioł Ofiarny siedzi pomiędzy Demonem a Minionem. Naprzeciwko, dwaj inni Minioni siedzą obok siebie. Kucharz dowiaduje się '3'.</blockquote>

  <blockquote>Samotnik siedzi między Demonem a Trucicielem. Kucharz dowiaduje się '1'.  
  Tutaj Samotnik rejestruje się jako zły dla pary Demon-Samotnik, ale jako dobry dla pary Truciciel-Samotnik.</blockquote>

</div>

{% endblock %}
