{% extends "base.html" %}

{% block title %}Tęczowa Mafia – Strona główna{% endblock %}

{% block content %}
  

  <div style="overflow-x:auto;" class="container">
    <h3>Praczka</h3>

    <button type="button" onclick="window.location.href='{{ back_url }}'">Wróć do poprzedniego okna</button>
    <table>
      <tr><td style="text-align: center;"><img style="width: 40%; height: auto;" src="{{ url_for('static', filename='images/praczka.png') }}"></td></tr>
      <tr>
        <td>Na początku wiesz, że 1 z 2 graczy jest konkretnym mieszczaninem. Praczka dowiaduje się, że konkretny mieszczanin jest w grze, ale nie kto go gra.
          <ul>
              <li>Praczka po fazie nocy otrzyma na telefonie nazwę dwóch graczy, i dowiaduje się, jaka postać należy do jednego z nich.</li>
              <li>Informację tę poznaje tylko raz i później nie otrzymuje żadnych dodatkowych wskazówek.</li>
          </ul>
        </td>
      </tr>
    </table>
    <blockquote>Evin jest Kucharzem, a Amy jest Strażnikiem Kruków.
    Praczka dowiaduje się, że Evin lub Amy jest Kucharzem.</blockquote>
    
    <blockquote>Julian jest Demonem, a Alex jest Dziewicą.
    Praczka dowiaduje się, że Julian lub Alex jest Dziewicą.</blockquote>

    <blockquote>Marianna jest Szpiegiem, a Sarah jest Krwawą Kobietą.
    Praczka dowiaduje się, że jedna z nich jest Strażnikiem Kruków.
    W tym przypadku Szpieg rejestruje się jako mieszczanin — konkretnie jako Strażnik Kruków.</blockquote>
  </div>
{% endblock %}