{% extends "player_page_night.html" %}

{% block title %}{{ super() }} - Kucharz{% endblock %}

{% block content %}

<div class="container" style="overflow-x:auto;">

  <table id="playerRoleTable" cellspacing="0" cellpadding="8">
    <tr>
      <td colspan="2">
        <p style="white-space: pre-line;">{{ character_data.player_status }}</p>
      </td>
    </tr>
    {% include "components/confirm_action.html" %}

  </table>

</div></br>

{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}
